*{
    margin : 0;
    padding: 0;
}
.header{
    min-height:100vh;
    width: 100%;
    height: 100%;
    background-image: url(IMGs/back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
} 
nav img{
    width: 80px;
    opacity: 0.7;
    border-radius: 50px;

}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #251515;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;
    color: #251515;
}

.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.text-box h1{
    font-family:"Brush Script MT", cursive;
    font-size: 65px;
}
.text-box span{
    color: #251515;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 24px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #251515;
    background-color: #251515;
    padding: 12px 34px;
    font-size: 19px;
    position: relative;
    cursor: pointer;

}
.btn:hover{
    background: #251515;
    transition: 1s;
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.4);
    zoom: 6px;
}


.Services{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 35px;
}
.Services h1{
    font-family:"Brush Script MT", cursive;
    font-size: 60px;
    font-weight: 800;
    color: #251515;
}
.Services h2{
    font-size: 28px;
    font-family: 'Caveat', cursive;
}
.Services p{
    font-size: 19px;
    font-family: 'Caveat', cursive; font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}
.room-col{
    padding: 13px;
    flex-basis: 31%;
    background: #fff;
    transition: 0.5s;
}
.room-col:hover{
    color: #fff;
    background: rgb(173, 173, 73);
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}



.Testimonal{
    background: rgb(243, 243, 157);
    width: 90%;
    height: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.Testimonal h1{
    font-size: 60px;
    font-weight: 800;
    color: #251515;
    font-family:"Brush Script MT", cursive;
}
.Testimonal p{
    color: #361e1e;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: 'Caveat', cursive;
}
.comments{
    padding: 20px;
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
}
.C-col{
    padding: 15px;
    flex-basis: 31%;
    transition: 0.5s;
}
.C-col:hover{
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


.Blogs{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.Blogs h1{
    font-size: 60px;
    font-weight: 800;
    color: #251515;
    font-family:"Brush Script MT", cursive;
}
.Blogs p{
    color: #361e1e;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: 'Caveat', cursive;
}
.blog-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
} 
.blog-col img{
    width: 100%;
    height: 100%;
}
.layer{
    background:none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
}
.layer p,h5{
    color:rgb(243, 243, 157) ;
}
.layer h3{
    background:rgb(243, 243, 157) ;
    margin :20px;
}
.blog-col:hover{
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}


.footer{
    width: 100%;
    text-align: center;
    padding: 40px 0;
    font-family: 'Caveat', cursive;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding:18px 0;
}
.fa-heart-o{
    color: #f44336;

}

/*--------------- About Us ---------------*/

.sub-header{
    height: 50vh;
    width:100%;
    background-image: url(IMGs/back-2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.sub-header h1{
    color: #fff; 
    margin-top: 100px;
    font-size: 60px;
    font-weight: 800;
    font-family:"Brush Script MT", cursive;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-us h1{
    font-family:"Brush Script MT", cursive;
    font-size: 44px;
    color: #251515;
    font-weight: 600;
    padding-top: 0;
}
.about-us p{
    padding: 15px 0px 25px;
    color: #361e1e;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Caveat', cursive;
}
.about-us ul li{
    color: #361e1e;
    font-size: 15px;
    font-weight: 250;
    font-family: 'Caveat', cursive;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col1 img{
    width: 100%;
    height: 80%;
    padding: 30px 2px;
    flex-basis: 48%;
}
.center{
    text-align: center;
    padding-top: 80px;  

}
.btn1{
    display: inline-block;
    text-decoration: none;
    background: #887777;
    color: #fff;
    border: 1px solid #947e7e;
    font-family: 'Caveat', cursive;
    border-radius: 9px;
    padding: 12px 34px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
.btn1:hover{
    border: 1px solid #251515;
    background: #251515;
    transition: 1s;
    color: #fff;
}
.Services1{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 35px;
}

.row1{
    padding-top: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row1 img{
    width: 70%;
    height: 55%;
    transition: transform .2s;
}
.row1 img:hover{
    box-shadow: #fff;
    transform: scale(1.1);
}
.Services1 h1{
    font-family:"Brush Script MT", cursive;
    font-size: 60px;
    font-weight: 800;
    color: #251515;
}
.Services1 h4{
    font-family: 'Caveat', cursive;
    color: #251515;
    padding-top: 10px;
}
.Services1 p{
    font-family: 'Caveat', cursive;
    color: #361e1e;
    font-size: 15px;
}

/*------------- Room -------------*/

.sub-header2{
    height: 50vh;
    width:100%;
    background-image: url(IMGs/room.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.sub-header2 h1{
    color: #fff; 
    margin-top: 100px;
    font-size: 60px;
    font-weight: 800;
    font-family:"Brush Script MT", cursive;

}
.Our-rooms{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.our-rooms h1{
    font-size: 40px;
    font-weight: 800;
    color: #251515;
    font-family:"Brush Script MT", cursive;
}
.our-room1{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.our-room1 img{
    width: 100%;
    height: 100%;
    display: block;
}
.layer1{
    background: transparent;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer1:hover{
    background: rgb(173, 173, 73);
}
.layer1 h3{
    width: 100%;
    font-weight: 600;
    color: #fff;
    font-size: 26px;
    font-family: 'Caveat' , cursive;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer1:hover h3{
    color: #fff;
    bottom: 49%;
    opacity:1 ;
}
.layer1 p{
    width: 100%;
    font-weight: 400;
    color: #fff;
    font-size: 26px;
    font-family: 'Caveat' , cursive;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer1:hover p{
    color: #fff;
    bottom: 35%;
    opacity:1 ;
}

/*-------------- Events -----------*/

.sub-header3{
    height: 50vh;
    width:100%;
    background-image: url(IMGs/blog.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.sub-header3 h1{
    color: #fff; 
    margin-top: 100px;
    font-size: 60px;
    font-weight: 800;
    font-family:"Brush Script MT", cursive;
}

.event{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.event p{
    padding-bottom: 20px;
    font-size: 15px;
    font-family: 'Caveat' , cursive;
}
.event h4{
    padding-bottom: 20px;
    font-size: 18px;
    font-family: 'Caveat' , cursive;
}
.event img{
    width: 30%;
    border-radius: 5px;
}
.pics{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.cmnt-box{
    width: 50%;
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.cmnt-box h3{
    text-align: left;
    font-family: 'Caveat' , cursive;
    color: #251515;
}
.cmnt-form input,.cmnt-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
    font-family: 'Caveat' , cursive;
}
.cmnt-form button{
    margin: 10px 0;
}

/*--------------- Contact -----------*/

.sub-header4{
    height: 50vh;
    width:100%;
    background-image: url(IMGs/contact.webp);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.sub-header4 h1{
    color: #fff; 
    margin-top: 100px;
    font-size: 60px;
    font-weight: 800;
    font-family:"Brush Script MT", cursive;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
    font-family: 'Caveat' , cursive;
    color: #361e1e;
    font-size: 13;
}
.contact-col div h5{
    font-size: 15px;
    margin-bottom: 5px;
    color: #555;
    font-family: 'Caveat' , cursive;
}
.contact-col1{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col1 div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col1 div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col1 div p{
    padding: 0;
    font-family: 'Caveat' , cursive;
    color: #361e1e;
    font-size: 13;
}
.contact-col1 div h5{
    font-size: 15px;
    margin-bottom: 5px;
    color: #555;
    font-family: 'Caveat' , cursive;
}
.contact-col1 input,.contact-col1 textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Caveat' , cursive;
}

/*------------- Booking -------------*/
.Booking{
    box-sizing: border-box;
    margin: 15px 30px;
    padding: 8px;
}
.container{
    background-color: #f2f2f2;
    font-family: 'Caveat',cursive;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    font-size: 18px;
    border: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="tel"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}
fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
}
.main_heading{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 60px;
    color: #251515;
    font-family:"Brush Script MT", cursive;
}
.Booking h2{
    padding-top: 30px;
    padding-bottom: 20px;
}

.check-box{
    display: flex;
    gap: .8rem;
    margin-top: 1rem;
}
.last{
    padding-bottom: 16px;
}
input[type="submit"]{
    background-color: #4daea1;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: #358b66;
}
.tables{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.tables h1{
    font-size: 40px;
    font-weight: 800;
    color: #251515;
    font-family:"Brush Script MT", cursive;
    padding-bottom: 40px;
}
table {
    text-align: center;
    border-spacing: 10px;
    padding: 10px;
    font-family: 'Caveat',cursive;
    width: 100%;
    height: 90%;
}
th{
    background-color: #f2f2f2;
    font-size: 22px;
    padding: 8px;
}
td{
    font-size: 18px;
}
.nav-2{
    flex: 1;
    text-align: right;
}
.nav-2 ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-2 ul li a{
    color: #251515;
    text-decoration: none;
    font-size: 17px;
}
.nav-2 ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #251515;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-2 ul li:hover::after{
    width: 100%;
    color: #251515;
}